#slider.carousel.slide{'data-ride': 'carousel'}
  %ol.carousel-indicators
    - @books.length.times do |i|
      %li{'data-target': '#slider', 'data-slide-to': i+1, class: ('active' if i+1 == 1)}
  .carousel-inner{role: 'listbox'}
    - @books.each do |book|
      .item{class: ('active' if book.id == 1)}
        .row
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img{src: book.img, alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1= book.title
              %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
              %p.lead.small= book.authors.map { | a | a.name }.join(', ')
              .general-align
                %button.disabled.btn Buy Now
  %a.left.carousel-control{href: '#slider', role: 'button', 'data-slide': 'prev'}
    %span.icon-prev{'aria-hidden': 'true'}
    %span.sr-only Previous
  %a.right.carousel-control{href: '#slider', role: 'button', 'data-slide': 'next'}
    %span.icon-next{'aria-hidden': 'true'}
    %span.sr-only Next