.hidden-xs
  %ul.nav.navbar-nav
    %li
      =link_to t('home'), root_path
    %li.dropdown
      %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
      %ul.dropdown-menu
        - Category.all.each do | category |
          %li
            = link_to category.name, catalog_index_path(category: category.id)
    %li.dropdown
      %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} My account
      %ul.dropdown-menu
        %li
          %a{href: "#"} Orders
        %li
          %a{href: "#"} Settings
        %li.divider{role: "separator"}
        %li
          %a{href: "#"} Log out